{% extends "base.html" %}
{% load static %}


{% block tittle %} Materiales {% endblock %}

{% block content %}

<center>
    
    <h1>DEVUELVE TUS MATERIALES </h1>

    <table class="content-table">
        <thead> 
            <tr> 
                <th>ID</th> 
                <th>Cedula</th> 
                <th>idMaterial</th> 
                <th></th>
            </tr> 
        </thead> 
        <tbody> 
            {% for materialP in materialPrestado %}
            <tr>  
                <th>{{materialP.id}}</th> 
                <th>{{materialP.cedula}}</th> 
                <th>{{materialP.idMaterial}}</th> 
                <th><a class="btn btn-block" href="/app/devolucion/{{cedula}}/{{materialP.idMaterial}}"> Devolver </a></th>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
</center>

{% endblock %}
